<!DOCTYPE html>
<html lang="de" layout:decorate="~{base}" xmlns:layout="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">schicht-tauschen.de</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                </nav>
            </div>
        </header>

        <main class="inner cover" role="main">
            <h1 class="cover-heading">Das neue Portal für Schichtarbeiter</h1>
            <p class="lead">Du arbeitest im Schichtdienst und möchtest ab und zu deine Schichten mit Kollegen tauschen?
                Dann bist du hier genau richtig! Schon bald findest du hier ein Portal zum Austausch mit deinen
                Arbeitskollegen.
            </p>
            <p class="lead">
                Also: Schau demnächst wieder vorbei und sei als einer der Ersten dabei!
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>&copy; 2021 by <a href="https://janbrodda.de">Jan Brodda</a>
            </div>
        </footer>
    </div>
</div>
</html>