<!DOCTYPE html>
<html lang="de" layout:decorate="~{base}" xmlns:layout="http://www.thymeleaf.org">
<div layout:fragment="content">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">schicht-tauschen.de</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
            </nav>
        </div>
    </header>

    <main id="vueStartPage" class="startpage" v-cloak>
        <article class="container-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <h1>Das neue Portal für Schichtarbeiter</h1>
                        <p class="lead">Du arbeitest im Schichtdienst und möchtest ab und zu deine Schichten mit Kollegen tauschen?
                            Dann bist du hier genau richtig! Schon bald findest du hier ein Portal zum Austausch mit deinen
                            Arbeitskollegen.
                        </p>
                        <p class="lead">
                            Also: Schau demnächst wieder vorbei und sei als einer der Ersten dabei!
                        </p>
                    </div>
                    <div class="d-none d-sm-block col-md-2">
                        <div class="divider"></div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="alert" :class="getMessageClass" role="alert" v-if="message != null" v-html="message"></div>
                        <div class="loginRegistration">
                            <h2>
                                <span v-if="!isRegistration">Login</span>
                                <span v-else>Registrierung</span>
                            </h2>
                            <form v-on:submit.prevent="onSubmit">
                                <div class="form-group" v-if="isRegistration">
                                    <label for="fullName" th:text="#{name}">Full Name</label>
                                    <input v-model="fullName" id="fullName" type="text" class="form-control" :class="{ 'is-invalid' : formValidationErrors.fullName }">
                                    <div class="invalid-feedback" v-if="formValidationErrors.fullName" v-html="formValidationErrors.fullName"></div>
                                </div>
                                <div class="form-group" v-if="isRegistration">
                                    <label for="email" th:text="#{email}">Email address</label>
                                    <input v-model="email" type="email" class="form-control" id="email" :class="{ 'is-invalid' : formValidationErrors.email }">
                                    <div class="invalid-feedback" v-if="formValidationErrors.email" v-html="formValidationErrors.email"></div>
                                </div>
                                <div class="form-group">
                                    <label for="userName" th:text="#{login}">Username</label>
                                    <input v-model="userName" id="userName" type="text" class="form-control" :class="{ 'is-invalid' : formValidationErrors.userName }">
                                    <div class="invalid-feedback" v-if="formValidationErrors.userName" v-html="formValidationErrors.userName"></div>
                                </div>
                                <div class="form-group">
                                    <label for="password" th:text="#{password}">Password</label>
                                    <input type="password" id="password" v-model="password" class="form-control" :class="{ 'is-invalid' : formValidationErrors.password }" >
                                    <div class="invalid-feedback" v-if="formValidationErrors.password" v-html="formValidationErrors.password"></div>
                                </div>
                                <button type="submit" class="button button-primary">
                                    <span v-if="!isRegistration" th:text="#{form.signIn}"></span>
                                    <span v-else th:text="#{form.signUp}"></span>
                                </button>
                            </form>
                            <p v-if="!isRegistration">Du hast noch keinen Zugang? <br>Dann jetzt <a href="#" v-on:click="changeContext('registration')">registrieren</a></p>
                            <p v-else>Du hast bereits einen Zugang? <br>Dann jetzt <a href="#" v-on:click="changeContext('login')">einloggen</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer class="footer">
        <p class="text-muted">&copy; 2021 by <a href="https://janbrodda.de">Jan Brodda</a>
    </footer>
</div>
</html>