<!DOCTYPE html>
<html lang="de" layout:decorate="~{base}" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <main id="vueSearch" class="p-search" v-cloak>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 th:text="#{headline.search}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <article class="filter-container">
                        <span class="filter-head" th:text="#{filter.head.company}"></span>
                        <ul class="nav">
                            <li class="nav-item" v-for="company in companies">
                                <button class="button" @click="selectCompany(company)" :class="isCompanySelected(company) ? 'button-primary' : 'button-link'" v-html="company.name"></button>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="row" v-if="selectedCompany == null">
                <div class="col-12">
                    <article class="search-intro">
                        <h2 th:text="#{search.intro.headline}"></h2>
                        <p th:text="#{search.intro.subline}"></p>
                    </article>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-12">
                    <article class="selected-company-container">
                        <div class="row-label-value">
                            <span class="col-label" th:text="#{search.selected.label}"></span>
                            <span class="col-value">{{selectedCompany.name}} - {{selectedCompany.department.name}}</span>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <div class="form-row timerange-container">
                        <label class="col-form-label col-4" th:text="#{search.selected.timerange}"></label>
                        <div class="col-4">
                            <vuejs-datepicker bootstrap-styling="true" calendar-button="true" calendar-button-icon="fas fa-calendar-alt" v-model="startDate"></vuejs-datepicker>
                        </div>
                        <div class="col-4">
                            <vuejs-datepicker bootstrap-styling="true" calendar-button="true" calendar-button-icon="fas fa-calendar-alt" v-model="endDate"></vuejs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <article class="shift-item">
                        <span class="shift-head">10.02.2021 - 14:00 - 16:00</span>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <th:block layout:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuejs-datepicker/1.6.2/vuejs-datepicker.min.js"></script>
    </th:block>
</div>
</html>